.experience {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 3%;
    border: solid;
    border-color: hsl(210, 22%, 38%);
    background-color: #4C6278;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #161a20 ;
}

.text {
    flex: 5;
    min-width: 50%; /* Limite la largeur du texte */
}

@media screen and (max-width: 768px) {
    .experience{
        margin-left: 5%;
        margin-right: 5%;
    }
}
