.project{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 3%;
    border: solid;
    border-color: hsl(210, 22%, 38%);
    background-color: #4C6278;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-shadow: 10px 10px 15px #161a20 ;
    gap: 20px; /* Augmente l'espacement entre texte et image */
}

.text {
    flex: 5;
    min-width: 50%; /* Limite la largeur du texte */
}

.image img {
    min-width: 110%; /* Limite la taille de l'image */
    height: auto;
    border-radius: 15px;
}


@media screen and (max-width: 768px) {
    .project {
        flex-direction: column; /* Change l'affichage en colonne */
        align-items: center; /* Centre les éléments */
        text-align: center; /* Centre le texte */
        margin-left: 5%;
        margin-right: 5%;
    }

    .text {
        min-width: 100%; /* Le texte prend toute la largeur */
    }

    .image img {
        min-width: 80%; /* Taille réduite pour éviter le débordement */
    }
}
