.Skil{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    border: solid;
    border-color: hsl(210, 22%, 38%);
    background-color: #4C6278;
    border-radius: 10px;
    flex: 1 1 200px; /* Largeur min de 300px, ajustable */
    max-width: 200px;
}
.logo img{
    max-width: 10px;
    max-height: 10px;
}

.Skils{
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 100%; /* Empêche le débordement */
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .Skil{
        
    margin-left: 5%;
    margin-right: 5%;
    max-width: 650%;
    }

    .Skils{
        padding-top: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 0px;
        max-width: 100%; /* Empêche le débordement */
        margin: auto;
        overflow: hidden;
    }
}